<div class="p-page">
    <div class="flex flex-col gap-page">
        <div class="p-3">
            <h4 class="aligned">
                <sl-icon name="calculator"></sl-icon>Calculate manually
            </h4>
            <form
                id="form-manually"
                hx-post="/alg"
                hx-target="#form-manually-output"
            >
                <sl-input
                    form="form-manually"
                    label="date"
                    name="date"
                    type="datetime-local"
                    value="1972-01-25T05:23"
                ></sl-input>
                <sl-input
                    form="form-manually"
                    label="tau1"
                    name="tau1"
                    step="any"
                    type="number"
                    value=""
                ></sl-input>
                <sl-input
                    form="form-manually"
                    label="tau2"
                    name="tau2"
                    step="any"
                    type="number"
                    value=""
                ></sl-input>
                <sl-input
                    form="form-manually"
                    label="v1"
                    name="v1"
                    step="any"
                    type="number"
                    value=""
                ></sl-input>
                <sl-input
                    form="form-manually"
                    label="v2"
                    name="v2"
                    step="any"
                    type="number"
                    value=""
                ></sl-input>
                <sl-input
                    form="form-manually"
                    label="v3"
                    name="v3"
                    step="any"
                    type="number"
                    value=""
                ></sl-input>
                <div class="dialog-footer">
                    <sl-button
                        form="form-manually"
                        type="submit"
                        variant="primary"
                    >
                        <sl-icon
                            slot="prefix"
                            name="calculator"
                        ></sl-icon>
                        Calculate
                    </sl-button>
                </div>
            </form>
        </div>
        <div class="p-3">
            <h4 class="aligned">Output</h4>
            <div id="form-manually-output">
                <sl-alert variant="primary" open>
                    <sl-icon slot="icon" name="info-circle"></sl-icon>
                    No output available yet. Upload a file and click "Calculate"
                    or "Visualize" to see results.
                </sl-alert>
            </div>
        </div>
    </div>
</div>
