<div class="p-page">
    <div class="h-[70svh] overflow-auto">
        <table id="test-pass-table">
            <tr>
                <th>#</th>
                <th>V_avg</th>
                <th>Tau1</th>
                <th>Tau2</th>
                <th>Az</th>
                <th>Zen</th>
                <th>Zen g</th>
                <th>Declination</th>
                <th>Right Ascension</th>
                <th>V_g</th>
                <th>V_h</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Inc</th>
                <th>Axis</th>
                <th>Ecc</th>
                <th>Angle</th>
            </tr>
            {{range $i, $entry := .Table}}
            <tr>
                <td>{{$entry.Input.Id}}</td>
                <td>{{printf "%.4f" $entry.Input.V_avg}}</td>
                <td>{{printf "%.4f" $entry.Input.Tau1}}</td>
                <td>{{printf "%.4f" $entry.Input.Tau2}}</td>
                <td>{{printf "%.4f" $entry.Actual.A}}</td>
                <td>{{printf "%.4f" $entry.Actual.Z_avg}}</td>
                <td>{{printf "%.4f" $entry.Actual.Z_fix}}</td>
                <td>{{printf "%.4f" $entry.Actual.Delta}}</td>
                <td>{{printf "%.4f" $entry.Actual.Alpha}}</td>
                <td>{{printf "%.4f" $entry.Actual.V_g}}</td>
                <td>{{printf "%.4f" $entry.Actual.V_h}}</td>
                <td>{{printf "%.4f" $entry.Actual.Beta_deriv}}</td>
                <td>{{printf "%.4f" $entry.Actual.Lambda_deriv}}</td>
                <td>{{printf "%.4f" $entry.Actual.Axis}}</td>
                <td>{{printf "%.4f" $entry.Actual.Inc}}</td>
                <td>{{printf "%.4f" $entry.Actual.Exc}}</td>
                <td>{{printf "%.4f" $entry.Actual.Angle}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    <div class="dialog-footer mt-page aligned">
        <div>
            {{$pagePrev := add .Page -1}}
            {{$pageNext := add .Page 1}}
            {{if gt $pagePrev 0}}
            <sl-icon-button href="/table/{{$pagePrev}}" name="arrow-left"></sl-icon-button>
            {{end}}
            Page {{.Page}} of <a class="underline" href="/table/{{.PageMax}}">{{.PageMax}}</a>
            {{if lt $pageNext .PageMax}}
            <sl-icon-button href="/table/{{$pageNext}}" name="arrow-right"></sl-icon-button>
            {{end}}
            <sl-button href="/test-table/{{.Page}}">Open testing table</sl-button>
        </div>
    </div>
</div>