<header id="header">
    <nav>
        <sl-dropdown class="aligned" id="page-nav">
            <sl-icon-button name="list" slot="trigger"></sl-icon-button>
            <sl-menu>
                {{if not .IsHomePage}}
                    <a href="/">
                        <sl-menu-item>
                            <sl-icon name="house-heart" slot="prefix"></sl-icon>
                            Home
                        </sl-menu-item>
                    </a>
                {{end}}
                {{if not .IsCalc}}
                    <a href="/calc">
                        <sl-menu-item>
                            <sl-icon name="calculator" slot="prefix"></sl-icon>
                            Calculator
                        </sl-menu-item>
                    </a>
                {{end}}
                {{if not .Table}}
                    <a href="/table">
                        <sl-menu-item>
                            <sl-icon name="table" slot="prefix"></sl-icon>
                            Table
                        </sl-menu-item>
                    </a>
                {{end}}
                <a href="#footer">
                    <sl-menu-item>
                        <sl-icon name="three-dots" slot="prefix"></sl-icon>
                        More
                    </sl-menu-item>
                </a>
            </sl-menu>
        </sl-dropdown>
    </nav>
    <nav>
        <sl-dropdown class="theme-menu">
            <sl-icon-button slot="trigger" name="stars"></sl-icon-button>
            <sl-menu>
                <sl-menu-item type="checkbox" value="sl-theme-dark">
                    <sl-icon slot="prefix" name="moon"></sl-icon>
                    Dark
                </sl-menu-item>
                <sl-menu-item type="checkbox" value="sl-theme-light">
                    <sl-icon slot="prefix" name="sun"></sl-icon>
                    Light
                </sl-menu-item>
                <sl-menu-item type="checkbox" value="system">
                    <sl-icon slot="prefix" name="display"></sl-icon>
                    System
                </sl-menu-item>
            </sl-menu>
        </sl-dropdown>
    </nav>
</header>