<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
            name="htmx-config"
            content='{"responseHandling": [{"code":"...", "swap": true}]}'
        >
        <title>{{.Title}}</title>
        {{- template "partials/scripts" .}}
    </head>

    <body hx-ext="shoelace">
        <div hx-ext="debug" id="real-body">
            {{- template "partials/header" .}}
            <main id="main">
                {{- embed}} {{- template "partials/footer" .}}
            </main>
        </div>
    </body>
</html>
