<ul>
    <li>Azimuth: {{printf "%g" .Meteor.A}}</li>
    <li>Zenith Angle of Radiant: {{printf "%g" .Meteor.Z_avg}}</li>
    <li>
        Zenith Angle of Radiant (Gravity fixed): {{printf "%g" .Meteor.Z_fix}}
    </li>
    <li>Declination of Radiant: {{printf "%g" .Meteor.Delta}}</li>
    <li>Right Ascension of Radiant: {{printf "%g" .Meteor.Alpha}}</li>
    <li>Geocentric Speed: {{printf "%g" .Meteor.V_g}}</li>
    <li>Heliocentric Speed: {{printf "%g" .Meteor.V_h}}</li>
    <li>Latitude of True Radiant: {{printf "%g" .Meteor.Beta_deriv}}</li>
    <li>Longitude of True Radiant: {{printf "%g" .Meteor.Lambda_deriv}}</li>
    <li>Semi-Major Axis: {{printf "%g" .Meteor.Axis}}</li>
    <li>Orbital Inclination: {{printf "%g" .Meteor.Inc}}</li>
    <li>Eccentricity: {{printf "%g" .Meteor.Exc}}</li>
    <li>Hour Angle of Radiant: {{printf "%g" .Meteor.Angle}}</li>
</ul>
