{{if .IsFile}}
<div class="dialog-footer">
    <div>
        <sl-button
            id="visualize-file"
            variant="primary"
            href="/alg/parse/cache/{{.FileHash}}.xlsx"
        >
            <sl-icon
                slot="prefix"
                name="table"
            ></sl-icon>
            Download .xlsx
        </sl-button>
        <sl-button
            id="visualize-file"
            variant="primary"
            href="/alg/parse/cache/{{.FileHash}}.png"
            target="_blank"
        >
            <sl-icon
                slot="prefix"
                name="magic"
            ></sl-icon>
            Visualize
        </sl-button>
    </div>
</div>
{{end}}
<p class="aligned p-2">
    <sl-icon slot="icon" name="info-circle"></sl-icon>
    {{.TableMax}} rows, page {{.Page}} (50 per page). {{if .IsTests}}
    {{.TestsFailCount}}/{{.TableMax}} rows have bad results ({{percent
    .TestsFailCount .TableMax}}). {{end}}
</p>
<div class="max-h-[50svh] overflow-auto">
    {{if eq .ExpandTable "values"}}
    <table id="test-pass-table">
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2">V_avg</th>
            <th rowspan="2">Tau1</th>
            <th rowspan="2">Tau2</th>
            <th colspan="2">Lambda_apex</th>
            <th colspan="2">A</th>
            <th colspan="2">Z_avg</th>
            <th colspan="2">Delta</th>
            <th colspan="2">Alpha</th>
            <th colspan="2">Beta</th>
            <th colspan="2">Lambda</th>
            <th colspan="2">Lambda_deriv</th>
            <th colspan="2">Beta_deriv</th>
            <th colspan="2">Inc</th>
            <th colspan="2">Wmega</th>
            <th colspan="2">Omega</th>
            <th colspan="2">V_g</th>
            <th colspan="2">V_h</th>
            <th colspan="2">Axis</th>
            <th colspan="2">Exc</th>
            <th colspan="2">Nu</th>
        </tr>
        <tr>
            {{range seq 17}}
            <th>Expected</th>
            <th>Actual</th>
            {{end}}
        </tr>
        {{range $i, $entry := .Table}}
        <tr>
            <td>{{$entry.Input.Id}}</td>
            <td>{{printf "%.4f" $entry.Input.V_avg}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau1}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau2}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Lambda_apex)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Lambda_apex}}">
                {{printf "%.4f°" (degrees $entry.Actual.Lambda_apex)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.A)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.A}}">
                {{printf "%.4f°" (degrees $entry.Actual.A)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Z_avg)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Z_avg}}">
                {{printf "%.4f°" (degrees $entry.Actual.Z_avg)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Delta)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Delta}}">
                {{printf "%.4f°" (degrees $entry.Actual.Delta)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Alpha)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Alpha}}">
                {{printf "%.4f°" (degrees $entry.Actual.Alpha)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Beta)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Beta}}">
                {{printf "%.4f°" (degrees $entry.Actual.Beta)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Lambda)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Lambda}}">
                {{printf "%.4f°" (degrees $entry.Actual.Lambda)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Lambda_deriv)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Lambda_deriv}}">
                {{printf "%.4f°" (degrees $entry.Actual.Lambda_deriv)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Beta_deriv)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Beta_deriv}}">
                {{printf "%.4f°" (degrees $entry.Actual.Beta_deriv)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Inc)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Inc}}">
                {{printf "%.4f°" (degrees $entry.Actual.Inc)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Wmega)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Wmega}}">
                {{printf "%.4f°" (degrees $entry.Actual.Wmega)}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Omega)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Omega}}">
                {{printf "%.4f°" (degrees $entry.Actual.Omega)}}
            </td>
            <td>{{printf "%.4f" $entry.Expected.V_g}}</td>
            <td class="danger-level-{{$entry.AssertionResult.V_g}}">
                {{printf "%.4f" $entry.Actual.V_g}}
            </td>
            <td>{{printf "%.4f" $entry.Expected.V_h}}</td>
            <td class="danger-level-{{$entry.AssertionResult.V_h}}">
                {{printf "%.4f" $entry.Actual.V_h}}
            </td>
            <td>{{printf "%.4f" $entry.Expected.Axis}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Axis}}">
                {{printf "%.4f" $entry.Actual.Axis}}
            </td>
            <td>{{printf "%.4f" $entry.Expected.Exc}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Exc}}">
                {{printf "%.4f" $entry.Actual.Exc}}
            </td>
            <td>{{printf "%.4f°" (degrees $entry.Expected.Nu)}}</td>
            <td class="danger-level-{{$entry.AssertionResult.Nu}}">
                {{printf "%.4f°" (degrees $entry.Actual.Nu)}}
            </td>
        </tr>
        {{end}}
    </table>
    {{else if eq .ExpandTable "delta"}}
    <table id="test-pass-table">
        <tr>
            <th>#</th>
            <th>V_avg</th>
            <th>Tau1</th>
            <th>Tau2</th>
            <th>Lambda_apex</th>
            <th>A</th>
            <th>Z_avg</th>
            <th>Delta</th>
            <th>Alpha</th>
            <th>Beta</th>
            <th>Lambda</th>
            <th>Lambda_deriv</th>
            <th>Beta_deriv</th>
            <th>Inc</th>
            <th>Wmega</th>
            <th>Omega</th>
            <th>V_g</th>
            <th>V_h</th>
            <th>Axis</th>
            <th>Exc</th>
            <th>Nu</th>
        </tr>
        {{range $i, $entry := .Table}}
        <tr>
            <td>{{$entry.Input.Id}}</td>
            <td>{{printf "%.4f" $entry.Input.V_avg}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau1}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau2}}</td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Lambda_apex)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Lambda_apex}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Lambda_apex
                    $entry.Expected.Lambda_apex))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.A)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.A}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.A
                    $entry.Expected.A))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Z_avg)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Z_avg}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Z_avg
                    $entry.Expected.Z_avg))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Delta)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Delta}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Delta
                    $entry.Expected.Delta))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Alpha)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Alpha}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Alpha
                    $entry.Expected.Alpha))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Beta)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Beta}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Beta
                    $entry.Expected.Beta))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Lambda)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Lambda}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Lambda
                    $entry.Expected.Lambda))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Lambda_deriv)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Lambda_deriv}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Lambda_deriv
                    $entry.Expected.Lambda_deriv))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Beta_deriv)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Beta_deriv}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Beta_deriv
                    $entry.Expected.Beta_deriv))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Inc)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Inc}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Inc
                    $entry.Expected.Inc))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Wmega)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Wmega}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Wmega
                    $entry.Expected.Wmega))}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Omega)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Omega}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Omega
                    $entry.Expected.Omega))}}</span>
            </td>
            <td>
                {{printf "%.4f" $entry.Actual.V_g}} ± <span
                    class="danger-level-{{$entry.AssertionResult.V_g}}"
                >{{ printf "%.2f" (absMinus $entry.Actual.V_g
                    $entry.Expected.V_g)}}</span>
            </td>
            <td>
                {{printf "%.4f" $entry.Actual.V_h}} ± <span
                    class="danger-level-{{$entry.AssertionResult.V_h}}"
                >{{ printf "%.2f" (absMinus $entry.Actual.V_h
                    $entry.Expected.V_h)}}</span>
            </td>
            <td>
                {{printf "%.4f" $entry.Actual.Axis}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Axis}}"
                >{{ printf "%.2f" (absMinus $entry.Actual.Axis
                    $entry.Expected.Axis)}}</span>
            </td>
            <td>
                {{printf "%.4f" $entry.Actual.Exc}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Exc}}"
                >{{ printf "%.2f" (absMinus $entry.Actual.Exc
                    $entry.Expected.Exc)}}</span>
            </td>
            <td>
                {{printf "%.4f°" (degrees $entry.Actual.Nu)}} ± <span
                    class="danger-level-{{$entry.AssertionResult.Nu}}"
                >{{printf "%.2f°" (degrees (absMinus $entry.Actual.Nu
                    $entry.Expected.Nu))}}</span>
            </td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <table id="data-table">
        <tr>
            <th>#</th>
            <th>V_avg</th>
            <th>Tau1</th>
            <th>Tau2</th>
            <th>Lambda_apex</th>
            <th>A</th>
            <th>Z_avg</th>
            <th>Delta</th>
            <th>Alpha</th>
            <th>Beta</th>
            <th>Lambda</th>
            <th>Lambda_deriv</th>
            <th>Beta_deriv</th>
            <th>Inc</th>
            <th>Wmega</th>
            <th>Omega</th>
            <th>V_g</th>
            <th>V_h</th>
            <th>Axis</th>
            <th>Exc</th>
            <th>Nu</th>
        </tr>
        {{range $i, $entry := .Table}}
        <tr>
            <td>{{$entry.Input.Id}}</td>
            <td>{{printf "%.4f" $entry.Input.V_avg}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau1}}</td>
            <td>{{printf "%.4f" $entry.Input.Tau2}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Lambda_apex)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.A)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Z_avg)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Delta)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Alpha)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Beta)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Lambda)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Lambda_deriv)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Beta_deriv)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Inc)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Wmega)}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Omega)}}</td>
            <td>{{printf "%.4f" $entry.Actual.V_g}}</td>
            <td>{{printf "%.4f" $entry.Actual.V_h}}</td>
            <td>{{printf "%.4f" $entry.Actual.Axis}}</td>
            <td>{{printf "%.4f" $entry.Actual.Exc}}</td>
            <td>{{printf "%.4f°" (degrees $entry.Actual.Nu)}}</td>
        </tr>
        {{end}}
    </table>
    {{end}}
</div>
{{if gt .PageMax 1}}
<div class="flex flex-col relative gap-2 mt-page justify-center">
    {{$pagePrev := add .Page -1}} {{$pageNext := add .Page 1}} {{if .IsFile}}
    <!-- file section -->
    <div class="flex items-center gap-2 justify-center">
        {{if gt .Page 2}}
        <sl-button
            pill
            hx-post="alg/parse/1"
            hx-target="#form-file-output"
            hx-include="#file-input"
            variant="default"
        >1</sl-button>
        <sl-icon name="three-dots"></sl-icon>
        {{end}} {{if gt .Page 1}}
        <sl-button
            pill
            hx-post="alg/parse/{{$pagePrev}}"
            hx-target="#form-file-output"
            hx-include="#file-input"
            variant="default"
        ><sl-icon name="caret-left"></sl-icon></sl-button>
        {{end}}
        <sl-button pill variant="primary" disabled>{{.Page}}</sl-button>

        {{if lt .Page .PageMax}}
        <sl-button
            pill
            hx-post="alg/parse/{{$pageNext}}"
            hx-target="#form-file-output"
            hx-include="#file-input"
            variant="default"
        ><sl-icon name="caret-right"></sl-icon></sl-button>
        {{end}} {{if lt .Page (add .PageMax -1)}}
        <sl-icon name="three-dots"></sl-icon>
        <sl-button
            pill
            hx-post="alg/parse/{{.PageMax}}"
            hx-target="#form-file-output"
            hx-include="#file-input"
            variant="default"
        >{{.PageMax}}</sl-button>
        {{end}}
    </div>
    <!-- file end section -->
    {{else}}
    <div class="flex items-center gap-2 justify-center">
        {{if gt .Page 2}}
        <sl-button pill href="/tests/1" variant="default">1</sl-button>
        <sl-icon name="three-dots"></sl-icon>
        {{end}} {{if gt .Page 1}}
        <sl-button
            pill
            href="/tests/{{$pagePrev}}"
            variant="default"
        ><sl-icon name="caret-left"></sl-icon></sl-button>
        {{end}}
        <sl-button pill variant="primary" disabled>{{.Page}}</sl-button>

        {{if lt .Page .PageMax}}
        <sl-button
            pill
            href="/tests/{{$pageNext}}"
            variant="default"
        ><sl-icon name="caret-right"></sl-icon></sl-button>
        {{end}} {{if lt .Page (add .PageMax -1)}}
        <sl-icon name="three-dots"></sl-icon>
        <sl-button pill href="/tests/{{.PageMax}}" variant="default"
        >{{.PageMax}}</sl-button>
        {{end}}
    </div>
    <div class="flex items-center gap-2 justify-center">
        <sl-button href="/tests.xlsx">
            <sl-icon
                slot="prefix"
                name="table"
            ></sl-icon>Download .xlsx</sl-button>
        <sl-button href="/tests.png" target="_blank">
            <sl-icon
                slot="prefix"
                name="magic"
            ></sl-icon>Visualize</sl-button>
        <sl-select
            hx-post="/tests/expand"
            hx-swap="none"
            hx-trigger="sl-change"
            name="expand-table"
            value="{{.ExpandTable}}"
        >
            <sl-icon name="eye" slot="prefix"></sl-icon>
            <sl-option value="">
                <sl-icon slot="prefix" name="cup-straw"></sl-icon>
                Normal
            </sl-option>
            <sl-option value="values">
                <sl-icon slot="prefix" name="123"></sl-icon>
                Values
            </sl-option>
            <sl-option value="delta">
                <sl-icon slot="prefix" name="plus-slash-minus"></sl-icon>
                Delta
            </sl-option>
        </sl-select>
    </div>
    {{end}}
</div>
{{end}}
