<div class="p-page">
    <h4 class="aligned">Input</h4>
    <form id="calc" hx-post="/process" hx-target="#output">
        <sl-input label="tau1" name="tau1" step="any" type="number" value="-18.0375"></sl-input>
        <sl-input label="tau2" name="tau2" step="any" type="number" value="-21.9851"></sl-input>
        <sl-input label="v_avg" name="v_avg" step="any" type="number" value="30597.3333333"></sl-input>
        <sl-input label="date" name="date" type="datetime-local" value="1972-01-25T05:23"></sl-input>
    </form>
    <h4 class="aligned">
        Output
        <sl-button form="calc" type="submit" variant="text">
            <sl-icon-button name="calculator"></sl-icon>
        </sl-button>
    </h4>
    <div id="output"></div>
</div>