<div class="p-page">
    <h4 class="aligned">Input</h4>
    <form id="calc" hx-post="/process" hx-target="#output">
        <sl-input label="t1" name="t1"></sl-input>
        <sl-input label="t2" name="t2"></sl-input>
        <sl-input label="v_avg" name="v_avg"></sl-input>
        <sl-input label="date" name="date" type="datetime-local"></sl-input>
    </form>
    <h4 class="aligned">
        Output
        <sl-button form="calc" type="submit" variant="text">
            <sl-icon-button name="calculator"></sl-icon>
        </sl-button>
    </h4>
    <div id="output"></div>
</div>