<section class="super-sect sl-theme-light relative flex items-center justify-center text-center py-16 h-svh">
    <div class="relative">
        <span class="text-primary-600 text-6xl title">Start Chatting</span>
        <p class="text-primary-800 description">Join conversations instantly with {{.AppName}}.</p>
        <sl-button href="/chat" pill variant="primary" class="px-6 py-3">
            Open it in Your browser
        </sl-button>
    </div>
</section>
<section class="super-sect-1">
    <sl-icon name="lightning-charge" class="text-yellow-500"></sl-icon>
    <div class="text">
        <span class="title">Fast</span>
        <p class="text-yellow-400 description">{{.AppName}} allows you to do things fast: shortcuts, navigation and more...</p>
    </div>
</section>
<section class="super-sect-2">
    <div class="text">
        <span class="title">Public communities.</span>
        <p class="text-blue-400 description">Join your favorite fandom or create your own public community as a creator.</p>
    </div>
    <sl-icon name="people" class="text-blue-500"></sl-icon>
</section>
<section class="super-sect-1">
    <sl-icon name="shield-lock" class="text-green-500"></sl-icon>
    <div class="text">
        <span class="title">Privacy</span>
        <p class="text-green-400 description">Create private groups using a password or chat with your friends privately.</p>
    </div>
</section>
<section class="super-sect sl-theme-light pt-28">
    <div class="relative">
        <span class="text-primary-600 title">Still not sure?</span>
        <p class="text-primary-800 description">Give it a try and start chatting now!</p>
        <sl-button href="/chat" pill variant="primary" class="px-6 py-3">
            Try {{.AppName}}
        </sl-button>
    </div>
</section>
