@tailwind components;

@layer components {
    sl-tooltip {
        --max-width: 100svw;
    }
    sl-menu > sl-divider {
        @apply border-b border-neutral-200;
        &:last-child, &:first-child, sl-divider + sl-divider {
            @apply hidden;
        }
    }
    sl-button {
        &:not([variant=text]):is(.sl-theme-light *)::part(base) {
            @apply text-neutral-900;
        }
        &.no-end::part(base) {
            padding-inline-end: 0;
        }
        &.no-start::part(base) {
            padding-inline-start: 0;
        }
    }
    sl-dialog::part(header) {
        @apply shadow-md z-10;
    }
    sl-dialog.fullscreen-base::part(panel) {
        @apply w-screen h-svh;
        min-width: 100svw;
        min-height: 100svh;
        max-width: 100svw;
        max-height: 100svh;
    }
}
